<header class="row">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" height="70" width="40"
                    viewBox="0 0 384 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                    <path
                        d="M155.3 154.6c0-22.3 18.6-30.9 48.4-30.9 43.4 0 98.5 13.3 141.9 36.7V26.1C298.3 7.2 251.1 0 203.8 0 88.1 0 11 60.4 11 161.4c0 157.9 216.8 132.3 216.8 200.4 0 26.4-22.9 34.9-54.7 34.9-47.2 0-108.2-19.5-156.1-45.5v128.5a396.1 396.1 0 0 0 156 32.4c118.6 0 200.3-51 200.3-153.6 0-170.2-218-139.7-218-203.9z" />
                </svg>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <form class="d-flex main-search" role="search">
                    <input class="form-control me-2" type="search" placeholder="" aria-label="Search">
                    <button class="btn" type="submit">Tìm kiếm</button>
                </form>

                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {{#if isAuthenticated}}
                    <li class="nav-item dropdown">
                        <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Tài khoản
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Thông tin tài khoản</a></li>
                            <li><a class="dropdown-item" href="#">Đơn hàng của tôi</a></li>
                            <li><a class="dropdown-item" id="logout" href="/auth/logout">Đăng xuất</a></li>
                        </ul>
                    </li>

                    {{else}}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/auth/login">Đăng nhập</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/auth/signup">Đăng ký</a>
                    </li>
                    {{/if}}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">
                            <i class="fa-solid fa-cart-shopping"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<script>
    $(function () {
        logout();
    });

    ///////////////////////////////////////////////////
    function logout() {
        $('#logout').on('click', function (event) {
            event.preventDefault();

            $.ajax({
                url: '/auth/logout',
                type: 'POST'
            })
                .done(() => {
                    window.location.href = '/';
                })
                .fail((err) => {
                    console.log(err);
                });
        })
    }
</script>