<div class="d-flex justify-content-center align-items-center">
    <div class="login-form">
        <h4 class="form-title">Đăng nhập</h4>
        <p style="margin-bottom: 0px; color: red">Test username: user11</p>
        <p style="color: red">Test password: 12345678</p>

        <form id="loginForm" method="post" action="/auth/login">
            <div class="mb-3">
                <input type="text" class="form-control" name="loginKey"
                    placeholder="Email/Số điện thoại/Tên đăng nhập" />
            </div>

            <div class="mb-3">
                <input type="password" id="password" class="form-control" name="password"
                    placeholder="Mật khẩu của bạn" />
            </div>


            <div class="mb-3 form-check">
                <input class="form-check-input" type="checkbox" value="" id="passwordToggle" />
                <label class="form-check-label" for="passwordToggle">
                    Hiện mật khẩu
                </label>
            </div>



            <button id="loginBtn" type="submit" class="btn btn-primary">
                Đăng nhập
            </button>


            <p class="forgot-password-link">
                <a id="forgotPassword" href="#">Quên mật khẩu?</a>
            </p>
            <p class="registration-link">Chưa có tài khoản?
                <a id="regAccount" href="/auth/signup">
                    Tạo tài khoản
                </a>
            </p>


            <div class="divider d-flex align-items-center my-4">
                <p class="text-center small mx-3 mb-0 text-muted">HOẶC</p>
            </div>

            <button id="loginWithGoogleBtn" class="btn btn-primary" role="button" type="button">
                <i class="fa-brands fa-google" style="margin-right: 10px"></i><span>Đăng nhập với Google</span>
            </button>
            <button class="btn btn-primary" role="button" type="button">
                <i class="fa-brands fa-facebook-f" style="margin-right: 10px"></i><span>Đăng nhập với Facebook</span>
            </button>
        </form>
    </div>
</div>




<script>
    $(function () {
        const passwordToggle = $('#passwordToggle');
        const passwordField = $('#password');
        passwordToggle.on('click', function () {
            togglePassword(passwordField);
        });

        // Handle "login-with-google" button
        const loginWithGoogleBtn = $('#loginWithGoogleBtn');
        loginWithGoogleBtn.on('click', function () {
            $.ajax({
                url: '/auth/google',
                method: 'GET',
            }).done((data) => {
                window.location.href = data.url;
            }).fail((err) => {
                console.log(err);
            })
        })

    });

    ////////////////////////////////////////////

    function togglePassword(inputField) {
        const inputType = $(inputField).attr('type');
        const newType = inputType === 'password' ? 'text' : 'password';
        $(inputField).attr('type', newType);
    }

</script>