<div class="d-flex justify-content-center align-items-center">
    <div class="registration-form">
        <h4 class="form-title">Đăng ký</h4>

        <form id="signupForm" method="post" action="/auth/signup" novalidate>
            <!-- username section -->
            <div class="mb-3">
                <input type="text" class="form-control" name="username" placeholder="Tên đăng nhập" required />
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <!-- Password section -->
            <div class="mb-3">
                <input type="password" class="form-control" id="password" name="password" placeholder="Mật khẩu" />
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                    placeholder="Xác nhận mật khẩu" />
            </div>
            <div class="mb-3">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="passwordToggle" />
                    <label class="form-check-label" for="passwordToggle">
                        Hiện mật khẩu
                    </label>
                </div>
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" name="email" placeholder="Email" />
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" name="name" placeholder="Họ và tên" />
            </div>

            <button class="btn btn-primary" id="signupBtn">Đăng ký</button>
        </form>
    </div>
</div>


<script>
    $(function () {
        $(function () {
            const passwordToggle = $('#passwordToggle');
            const passwordField = $('#password');
            const confirmPasswordField = $('#confirmPassword')
            passwordToggle.on('click', function () {
                togglePassword(passwordField);
                togglePassword(confirmPasswordField);
            });
        });



    });

    ////////////////////////////////////

    function togglePassword(inputField) {
        const inputType = $(inputField).attr('type');
        const newType = inputType === 'password' ? 'text' : 'password';
        $(inputField).attr('type', newType);
    }
</script>