<div class="d-flex justify-content-center align-items-center">
    <div class="registration-form">
        <h4 class="form-title">Đăng ký</h4>

        <form id="signupForm" method="post" action="/auth/signup" novalidate>
            <div class="mb-3">
                <input type="text" class="form-control" id="username" name="username" placeholder="Tên tài khoản"
                    required />
                <div id="username-feedback" class="invalid-feedback">
                </div>
            </div>

            <div class="mb-3">
                <input type="password" class="form-control" id="password" name="password" placeholder="Mật khẩu" />
                <div id="password-feedback" class="invalid-feedback">
                </div>
            </div>

            <div class="mb-3">
                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                    placeholder="Xác nhận mật khẩu" />
                <div id="confirm-password-feedback" class="invalid-feedback">
                </div>
            </div>

            <div class="mb-3">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="passwordToggle" />
                    <label class="form-check-label" for="passwordToggle">
                        Hiện mật khẩu
                    </label>
                </div>
            </div>

            <div class="mb-3">
                <input type="text" class="form-control" name="email" placeholder="Email" id="email" />
                <div id="email-feedback" class="invalid-feedback">
                </div>
            </div>

            <div class="mb-3">
                <input type="text" class="form-control" id="name" name="name" placeholder="Họ và tên" />
                <div id="name-feedback" class="invalid-feedback">
                </div>
            </div>

            <button class="btn btn-primary" id="signupBtn">Đăng ký</button>
        </form>
    </div>
</div>


<script>
    $(function () {
        const passwordToggle = $('#passwordToggle');
        const passwordField = $('#password');
        const confirmPasswordField = $('#confirmPassword')
        passwordToggle.on('click', function () {
            togglePassword(passwordField);
            togglePassword(confirmPasswordField);
        });

        signup();

    });

    ////////////////////////////////////

    function togglePassword(inputField) {
        const inputType = $(inputField).attr('type');
        const newType = inputType === 'password' ? 'text' : 'password';
        $(inputField).attr('type', newType);
    }
    function signup() {
        const usernameField = $('#username');
        const passwordField = $("#password");
        const confirmPasswordField = $('#confirmPassword');
        const emailField = $('#email');
        const nameField = $('#name');
        const allowedCharactersRegex = /^[a-zA-Z0-9.]+$/;
        const emailRegex =
            /^[a-zA-Z0-9_+&*-]+(?:\.[a-zA-Z0-9_+&*-]+)*@(?:[a-zA-Z0-9-]+\.)+[a-zA-Z]{2,}$/;
        const onlyNumbersRegex = /^\d+$/;
        const usernameFeedback = $('#username-feedback');
        const passwordFeedback = $('#password-feedback');
        const confirmPasswordFeedback = $('#confirm-password-feedback');
        const emailFeedback = $('#email-feedback');
        const nameFeedback = $('#name-feedback');
        const state = {
            username: {
                isValid: true,
                message: '',
            },
            password: {
                isValid: true,
                message: ''
            },
            confirmPassword: {
                isValid: true,
                message: ''
            },
            email: {
                isValid: true,
                message: ''
            },
            name: {
                isValid: true,
                message: ''
            },
        }
        $('#signupForm').submit(function (event) {
            event.preventDefault();
            event.stopPropagation();

            const formData = {
                username: usernameField.val(),
                password: passwordField.val(),
                confirmPassword: confirmPasswordField.val(),
                email: emailField.val(),
                name: nameField.val()
            };



            ////////////// Username
            if (!formData.username) {
                state.username.isValid = false;
                state.username.message = 'Nhập tên tài khoản';
            } else if (formData.username.length < 6 || formData.username.length > 30) {
                state.username.isValid = false;
                state.username.message = 'Xin lỗi, tên người dùng của bạn phải nằm trong khoảng độ dài từ giữa 6 và 30 ký tự';
            } else if (!allowedCharactersRegex.test(formData.username)) {
                state.username.isValid = false;
                state.username.message = 'Xin lỗi, chỉ được phép sử dụng các chữ cái (a-z), số và dấu chấm.';
            } else if (onlyNumbersRegex.test(formData.username)) {
                state.username.isValid = false;
                state.username.message = 'Xin lỗi, tên người dùng phải có từ 8 ký tự trở lên và phải bao gồm ít nhất một chữ cái (a-z)';
            }
            else {
                $.ajax({
                    url: `/account/username-exists`,
                    method: 'POST',
                    data: {
                        username: formData.username
                    }
                })
                    .done((res) => {
                        console.log('ok')
                        state.username.isValid = true;
                        state.username.message = '';

                        // update state
                        if (state.username.isValid === false) {
                            usernameField.addClass('is-invalid');
                            usernameFeedback.text(state.username.message);
                        } else {
                            usernameField.addClass('is-valid');
                            usernameField.removeClass('is-invalid');
                            usernameFeedback.text('');
                        }
                    })
                    .fail((err) => {
                        state.username.isValid = false;
                        state.username.message = 'Tên người dùng đã được sử dụng. Hãy thử tên khác.';

                        // update state
                        if (state.username.isValid === false) {
                            usernameField.addClass('is-invalid');
                            usernameFeedback.text(state.username.message);
                        } else {
                            usernameField.addClass('is-valid');
                            usernameField.removeClass('is-invalid');
                            usernameFeedback.text('');
                        }
                    });
            }

            //////// Password
            if (!formData.password) {
                state.password.isValid = false;
                state.password.message = 'Nhập mật khẩu';
            } else if (formData.password.length < 8) {
                state.password.isValid = false;
                state.password.message = 'Sử dụng 8 ký tự trở lên cho mật khẩu của bạn';
            } else {
                state.password.isValid = true;
                state.password.message = '';
            }

            if (!formData.confirmPassword) {
                state.confirmPassword.isValid = false;
                state.confirmPassword.message = 'Xác nhận mật khẩu của bạn';
            } else if (formData.password !== formData.confirmPassword) {
                state.confirmPassword.isValid = false;
                state.confirmPassword.message = 'Các mật khẩu đã nhập không khớp. Hãy thử lại';
            } else {
                state.confirmPassword.isValid = true;
                state.confirmPassword.message = '';
            }

            if (!formData.email) {
                state.email.isValid = false;
                state.email.message = 'Nhập email';
            } else if (!emailRegex.test(formData.email)) {
                state.email.isValid = false;
                state.email.message = 'Địa chỉ email không hợp lệ';
            } else {
                state.email.isValid = true;
                state.email.message = '';
            }

            if (!formData.name) {
                state.name.isValid = false;
                state.name.message = 'Nhập tên';
            } else {
                state.name.isValid = true;
                state.name.message = '';
            }

            // update state
            if (state.username.isValid === false) {
                usernameField.addClass('is-invalid');
                usernameFeedback.text(state.username.message);
            } else {
                usernameField.addClass('is-valid');
                usernameField.removeClass('is-invalid');
                usernameFeedback.text('');
            }

            if (state.password.isValid === false) {
                passwordField.addClass('is-invalid');
                passwordFeedback.text(state.password.message);
            } else {
                passwordField.addClass('is-valid');
                passwordField.removeClass('is-invalid');
                passwordFeedback.text('');
            }

            if (state.confirmPassword.isValid === false) {
                confirmPasswordField.addClass('is-invalid');
                confirmPasswordFeedback.text(state.confirmPassword.message);
            } else {
                confirmPasswordField.addClass('is-valid');
                confirmPasswordField.removeClass('is-invalid');
                confirmPasswordFeedback.text('');
            }

            if (state.email.isValid === false) {
                emailField.addClass('is-invalid');
                emailFeedback.text(state.email.message);
            } else {
                emailField.addClass('is-valid');
                emailField.removeClass('is-invalid');
                emailFeedback.text('');
            }

            if (state.name.isValid === false) {
                nameField.addClass('is-invalid');
                nameFeedback.text(state.name.message);
            } else {
                nameField.addClass('is-valid');
                nameField.removeClass('is-invalid');
                nameFeedback.text('');
            }

            // Submit
            let isValid = true;
            for (const field in state) {
                if (!state[field].isValid) {
                    isValid = false;
                }
            }

            if (isValid) {
                $(this).unbind('submit').submit();
            }
        })
    }
</script>